body{
    margin:0px;  
    background-color: #636a82;
    background-image: url(../img/pic.jpg);
    background-blend-mode: multiply;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
}

/* HEADER STYLES */
header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    font-size: 30px;
    font-family: 'Raleway';
    font-weight:bold;
    letter-spacing: 9px;
    text-align: center;
    color: white;
}

img.logo{
    width: 70px;
    height: 70px;
}

header a{ 
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Quicksand';
    margin:30px;
    position: relative;
}

header a::after {
	content: "";
	width: 0;
	height: 1.5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	margin: auto;
	background: rgb(196, 159, 10);
	transition: width 0.1s ease-in-out;
}

header a:hover::after {
	width: 100%;
}

/*MAIN STYLES*/
main{
    background-color: white;
    position: relative;
    align-items: center;
    width: 50%;
    background: none;
    border-radius: 15px;
    border: solid 2px;
    border-color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    line-height: 1em;
}

h2{
    color: black;
    background-color:rgb(207, 188, 102);
    border-radius: 4px;
    display: inline-block;
    padding: 7px;
    font-family: 'Raleway';
    font-size: 18px;
    text-transform: uppercase ;
}

td{
    color: white;
    font-family: 'Raleway';
}

th{
    color: white;
    font-family: 'Raleway';
    text-align: left;
}

.order{
    background-color: white;
    color: black;
    font-family: 'Raleway';
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 30px;
    max-width: 100%;
    word-wrap: break-word;
}

.answer{
    margin-left: 15px;
}

#back{
    text-decoration: none;
    background-color:rgb(165, 149, 69);
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 15px;
    width: 18%;
    text-align: center;
    height: 30px;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 5px;
    margin:auto;
    display: block;
}

#back:hover {
    background: rgb(72, 60, 0);
    color: white;
}

/* FOOTER STYLES*/
footer{
    background-color:none;
    padding:1px;
}

p.contact{
    font-family: 'Quicksand';
    font-weight: 400;
    color: white;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 0;
}

a.call{
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: italic;
    margin-left: 50px;
    text-decoration: none;
    color:white;
}

hr{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

ul{
    font-size: 15px;
    font-family: 'Quicksand';
    justify-content: space-evenly;
    list-style-type:none;
    display: flex;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
    color: white;
    font-weight: 300;
}

i{
    color:white
}

p.copyright{
    font-family: 'Quicksand';
    font-weight: 300;
    font-size:12px;
    margin-top:30px;
    margin-bottom: 50px;
    text-align: center;
    color: white
}